<head>
  <meta charset="utf-8">
  <meta name="generator" content="funwithstocks">
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title>{{title}}</title>
  <meta name="description" content="A smarter way to be healthy">

  <link async rel="icon" href="/favicon.ico">

  <!-- See https://goo.gl/OOhYW5 -->
  <link rel="manifest" href="/manifest.json">

  <!-- See https://goo.gl/qRE0vM -->
  <meta name="theme-color" content="#90A4AE">
  <meta name="csrf-token"/>

  <!-- Add to homescreen for Chrome on Android. Fallback for manifest.json -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="mindfull">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="funwithstocks">

  <!-- Homescreen icons -->
  <link rel="apple-touch-icon" href="/public/images/manifest/icon-48x48.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/public/images/manifest/icon-72x72.png">
  <link rel="apple-touch-icon" sizes="96x96" href="/public/images/manifest/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/public/images/manifest/icon-144x144.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/public/images/manifest/icon-192x192.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-deep_purple.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link defer rel="stylesheet" href="style.css">
  <link defer rel="stylesheet" href="prism.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
  <link defer rel="manifest" href="manifest.json">
  <script defer src="/js/main.js"></script>
  <script defer src="/js/prism.js"></script>
  <script defer src="/js/utils.js"></script>
</head>
