<main class="mdl-layout__content">
  <div class="mdl-card mdl-shadow--4dp card-wide">
    <div class="mdl-card__title center">
      <h2 class="mdl-card__title-text center card-title">FunWithStocks</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>
        Stock Exchange Project by Lee, Ryan and Gerard
      </p>
      <p>
        <a href="{{github}}">Github Project</a>
      </p>
      <p>
        <a href="{{kaggle}}">Data Source</a>
      </p>
    </div>
  </div>
  <div class="mdl-card mdl-shadow--4dp card-wide">
    <div class="mdl-card__title center">
      <h2 class="mdl-card__title-text center card-title">S&amp;P500 Data</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>
        <strong>Year:</strong> 2016
      </p>
      <p>
        <strong>Data Points:</strong> 258
      </p>
      <p>
        <strong>Days:</strong> 252
      </p>
      <p>
        Price data is recorded at open and close each day.
      </p>
    </div>
  </div>
</main>

{{>footer}}
