<div class="center-div mdl-cell mdl-grid.center-items">
  <form method="GET" action="/signup">
    <input type="hidden" name="_csrf" value="_csrf"/>
    <!-- Accent-colored raised button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Sign up with Google
    </button>
  </form>
</div>
