<div class="horz-div mdl-cell mdl-grid.center-items vert-div">
  <form method="POST" class="stock-form" action="/stock">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" pattern="[A-Za-z]{2,5}" title="Enter the stock symbol" type="text" name="ticker" id="ticker">
      <label class="mdl-textfield__label" for="ticker">SYMBOL</label>
    </div></br>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
      Search
    </button>
  </form>
</div>
